* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

:root {
    font-size: 62.5%;
    --dark-blue: #3F3D56;
    --shock-pink: #EE24FF;
    --gray-300: #828282;
    --gray-100: #ECEFF2;
}

body {
    font-size: 1.6rem;
    font-family: 'Dosis', sans-serif;
}

h1 {
    font-size: 3.2rem;
    font-weight: 500;
    color: var(--dark-blue);
}

#container{
    text-align: center;
}

strong {
    color: var(--shock-pink);
    font-weight: 700;
}