* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

:root {
    font-size: 62.5%;
    --dark-blue: #3F3D56;
}

body {
    font-size: 1.6rem;
    font-family: 'Dosis', sans-serif;
}

h1 {
    font-size: 3.2rem;
    font-weight: 500;
    color: var(--dark-blue);
}